.cart_align{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}

.box{
    border: 1px solid black;
    margin-top: 5%;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
    
}
.imagesize{
    padding-top: 50px;
    padding-bottom: 30px;
    height: 200px;
}
.empty_message{
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.cart_continue{
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(202, 200, 200);

}
.cart_color{
    color: black;
}